*
{
	margin:0;
}

body
{
	color: #999;
	font-family: Verdana;
	font-size: 10px;
}

ul
{
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
}

input
{
	color: #999;
}

#container
{
	overflow: hidden;
}

#header
{
	width: auto;
	height: 50px;
	padding: 1em;
}

#heading
{
	text-align: center;
}

#homeLink
{
	color: #999;
	text-decoration: none;
}

#homeLink:hover
{
	color: #333;
	text-decoration: underline;
}

#menuBar
{
	float: right;
}

#blogLink
{
	color: #999;
	text-decoration: none;
}

#blogLink:hover
{
	color: #333;
	text-decoration: underline;
}

#content
{
	overflow: hidden;
}

#controlPane
{
	width: 20%;
	float: left;
}

/* start backboneConics */

.control
{
	border: 2px solid;
	margin: 2px;
	padding: 2px;

	width: 90%;
	overflow: hidden;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div#addShapes
{
}

ul#addShapeList
{
	float: right;
	right: 50%;
	position: relative;
}

li.addShape
{
	float: left;
	left: 50%;
	position: relative;
	cursor: pointer;
}

div#shapes
{
	overflow: auto;
}

ul#shapeList
{
}

li.shape
{
}

div.titleBar
{
	width: 100%;
	float: left;
	margin-bottom: 3px;
	font-weight: bold;
	overflow: hidden;
}

span.close
{
	float: left;
	cursor: pointer;
}

span.titleWrapper
{
	float: left;
	position: relative;
	left: 40%;
	text-align: center;
}

span.title
{
	float: left;
	position: relative;
	right: 50%;
	cursor: pointer;
}

span.hide
{
	float: right;
	cursor: pointer;
}

.selected
{
	color: #333;
}

/* end backboneConics */

div.newConics
{
	width: 100%;
	overflow: hidden;
}

ul.newConics
{
	float: right;
	right: 50%;
	position: relative;
}

li.newConic
{
	float: left;
	left: 50%;
	position: relative;
	cursor: pointer;
}

div.shapeControls
{
	overflow: auto;
}

div.controls
{
	border: 2px solid;
	margin: 2px;
	padding: 2px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div.conic
{
	border: 2px solid;
	margin: 2px;
	padding: 2px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	overflow: hidden;
}

.selected
{
	color: #333;
}

div.titleBar
{
	width: 100%;
	float: left;
	margin-bottom: 3px;
	font-weight: bold;
	overflow: hidden;
}

div.titleWrapper
{
	float: left;
	position: relative;
	left: 40%;
	text-align: center;
}

div.title
{
	float: left;
	position: relative;
	right: 50%;
	cursor: pointer;
}

div.close
{
	float: left;
	cursor: pointer;
}

div.hide
{
	float: right;
	cursor: pointer;
}

div.conicControl
{
	width: 100%;
	float: left;
}

div.colorSelector
{
	width: 100%;
	float: left;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 3px;
}

input.color
{
	margin-top: 4px;
}

input.hexColor
{
	width: 5em;
	height: 1em;
}

.field
{
	float: left;
	width: 50%;
	text-align: bottom;
}

div.fieldTitle
{
	float: left;
	width: 3.5em;
	padding-right: 0.5em;
	text-align: right;
	height: 1em;
	padding-top: 4px;
}

input.fieldValue
{
	float: left;
	width: 2em;
	height: 1em;
	margin-right: 0.5em;
}

#graphPane
{
	width: 500px;
	height: 500px;
	float: left;
}

#graph
{
	float: left;
	margin: 1em;
}

#zoomHelp
{
	height: 3em;
	float: right;
}

#adPane
{
	max-width: 160px;
	min-width: 1em;
	height: 600px;
	float: right;
	margin-left: 2px;
}

