*
{
	margin:0;
}

body
{
	color: #999;
	font-family: Verdana;
	font-size: 10px;
}

ul
{
	list-style-type: none;
	margin-left: .5em;
	padding-left: .5em;
}

#container
{
	overflow: hidden;
}

#header
{
	width: 100%;
	height: 50px;
	padding: 1em;
}

#heading
{
	text-align: center;
}

#menuBar
{
	float: right;
	margin-right: 5em;
}

#blogLink
{
	color: #999;
	text-decoration: none;
}

#blogLink:hover
{
	text-decoration: underline;
	color: #333;
}

#content
{
	overflow: hidden;
}

#controlPane
{
	width: 25%;
	float: left;
}

div.newConics
{
	width: 18em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

div.newConic
{
	float: left;
	cursor: pointer;
}

div.shapeControls
{
	overflow: auto;
}

div.controls
{
	border: 2px solid;
	margin: 2px;
	padding: 2px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div.conic
{
	border: 2px solid;
	margin: 2px;
	padding: 2px;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	overflow: hidden;
}

.selected
{
	color: #333;
}

div.titleBar
{
	width: 100%;
	float: left;
	margin-bottom: 3px;
	font-weight: bold;
	overflow: hidden;
}

div.titleWrapper
{
	float: left;
	position: relative;
	left: 40%;
	text-align: center;
}

div.title
{
	float: left;
	position: relative;
	right: 50%;
	cursor: pointer;
}

div.close
{
	float: left;
	cursor: pointer;
}

div.hide
{
	float: right;
	cursor: pointer;
}

div.conicControl
{
	width: 100%;
	float: left;
}

div.colorSelector
{
	width: 100%;
	float: left;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 3px;
}

input.color
{
	margin-top: 4px;
}

input.hexColor
{
	width: 5em;
	height: 1em;
}

.field
{
	float: left;
	width: 50%;
	text-align: bottom;
}

div.fieldTitle
{
	float: left;
	width: 3.5em;
	padding-right: 0.5em;
	text-align: right;
	height: 1em;
	padding-top: 4px;
}

input.fieldValue
{
	float: left;
	width: 2em;
	height: 1em;
	margin-right: 0.5em;
}

#graphPane
{
	width: auto;
	height: 100%;
	float: left;
}

#graph
{
	float: left;
	margin: 1em;
}

#zoomHelp
{
	text-align: right;
}
