<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<title>mineConics</title>

		<link type="text/css" media="screen" href="css/mineConics.css" rel="stylesheet">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

		<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.6/underscore-min.js" type="text/javascript" charset="utf-8"></script>
<!-- 		<script src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js" type="text/javascript" charset="utf-8"></script> -->
		<script src="scripts/backbone.js" type="text/javascript" charset="utf-8"></script>

<!-- 		<script src="scripts/backbone-localstorage.js"></script>  -->
<!-- 		<script src="scripts/todos.js"></script>  -->
		<script type="text/javascript" src="scripts/backboneConics.js"></script> 

		<script type="text/javascript" src="scripts/jquery.mousewheel.js"></script>
<!-- 		<script type="text/javascript" src="scripts/mineConics.js"></script> -->

	</head>

	<body>

		<div id="container">

			<div id="header">
				<div id="menuBar"><a id="blogLink" href="http://blog.mineconics.net">blog</a></div>
				<h1 id="heading"><a id="homeLink" href="http://www.mineconics.net" title="circles and ellipses for minecraft">mineConics</a></h1>
			</div>

			<div id="content">

				<div id="controlPane">
				</div>

				<div id="graphPane">
					<canvas id="canvas" width="500" height="500"></canvas>
					<div id="zoomHelp">scroll to zoom</div>
				</div>

				<div id="adPane">
				</div>

			</div>
		</div>


		<!-- Templates --> 

		<script type="text/template" id="controlPaneTemplate"> 
			<div id="canvasControl">
				<div id="canvasTest"></div>
			</div>
			<div id="addShapes" class="control">
				<ul id="addShapeList">
					<li id="addLine" class="addShape">[add line]</li>
					<li id="addCircle" class="addShape">[add circle]</li>
					<li id="addEllipse" class="addShape">[add ellipse]</li>
				</ul>
			</div>
			<ul id="shapes"></ul>
		</script> 

		<script type="text/template" id="shapeTemplate"> 
			<div class="titleBar">
				<span class="close">[X]</span>
				<span class="titleWrapper">
					<span class="title"><%= title %></span>
				</span>
				<span class="hide">[-]</span>
			</div>
			<div class="shapeControls">
				<div class="colorControl">
					<form class="field">
						<span class="field">rgb</span>
						<input type="checkbox" name="color" class="color red">
						<input type="checkbox" name="color" class="color green">
						<input type="checkbox" name="color" class="color blue">
					</form>
					<div class="field">
						<span class="field">hex</span>
						<input type="text" class="hexColor" value="<%= hexColor %>">
					</div>
				</div>
			</div>
		</script> 

		<script type="text/template" id="lineTemplate">
			<div class="shapeControl line">
				<div class="field">
					<span class="field">start</span>
					<input type="text" class="field startX" value="<%= startX %>"></input>
					<input type="text" class="field startY" value="<%= startY %>"></input>
				</div>
				<div class="field">
					<span class="field">end</span>
					<input type="text" class="field endX" value="<%= endX %>"></input>
					<input type="text" class="field endY" value="<%= endY %>"></input>
				</div>
			</div>
		</script>

		<script type="text/template" id="circleTemplate">
			<div class="shapeControl circle">
				<div class="field">
					<span class="field">center</span>
					<input type="text" class="field centerX" value="<%= centerX %>"></input>
					<input type="text" class="field centerY" value="<%= centerY %>"></input>
				</div>
				<div class="field">
					<span class="field">radius</span>
					<input type="text" class="field radius" value="<%= radius %>"></input>
				</div>
			</div>
		</script>

		<script type="text/template" id="ellipseTemplate">
			<div class="shapeControl ellipse">
				<div class="field">
					<span class="field">center</span>
					<input type="text" class="field centerX" value="<%= centerX %>"></input>
					<input type="text" class="field centerY" value="<%= centerY %>"></input>
				</div>
				<div class="field">
					<span class="field">radius</span>
					<input type="text" class="field radiusX" value="<%= radiusX %>"></input>
					<input type="text" class="field radiusY" value="<%= radiusY %>"></input>
				</div>
			</div>
		</script>
	</body>
</html>
