*
{
	margin:0;
}

body
{
	color: #999;
	font-family: Verdana;
	font-size: 10px;
}

ul
{
	list-style-type: none;
	margin-left: .5em;
	padding-left: .5em;
}

.controlPane
{
	width: 25%;
	float: left;
}

.graphPane
{
	width: 50%;
	float: right;
}

#graph
{
	margin: 1em;
}

