*
{
	margin:0;
}

.controlPane
{
	width: 20%;
	float: left;
}

.draw a:link, a:visited
{
	color: #111;
	text-decoration: none;
}

.draw a:hover
{
	color: #222;
	text-decoration: underline;
}

.row a:link, a:visited
{
	color: #111;
	text-decoration: none;
}

.row a:hover
{
	color: #222;
	text-decoration: underline;
}

.graphPane
{
	width: 80%;
	float: right;
}

#graph
{
	margin: 1em;
}
